body {
    margin: 0;
    background: url('../img/header-img.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: block;
    position: static;
    list-style: none;
    z-index: 1;
}

nav ul {
    display: inline-block;
}

nav ul li {
    display: inline;
    text-transform: lowercase;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

nav ul li a:hover {
    color: orange;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
    padding-right: 20px;
}

.header {
    display: block;
    clear: both;
    z-index: 1;
    padding: 30px;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    color: #FFF;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

.header p {
    font-family: 'Bitter', monospace;
    font-size: 2em;
    text-transform: capitalize;
}

#code {
    color: #33F;
}

p {
	text-align: justify;
	color: rgb(50, 50, 50);
}

img {
    display: block;
    margin: auto;
}

section {
    z-index: 1;
    display: block;
    position: absolute;
    max-width: 100%;
    margin: 0;
    border: 0;
}

section a {
    color: orange;
    text-decoration: none;
}

section a:hover {
    color: brown;
}

header {
	padding: 5px;
}

header h2 {
    font-family: 'Bitter', monospace;
    font-size: 2em;
    color: rgb(20, 20, 20);
    text-align: center;
}

header p {
    font-weight: 100;
    text-align: center;
}

.first {
    min-height: 400px;
	padding: 40px;
	background-color: #FFF;/*rgb(200, 200, 200);*/
}

.second {
	min-height: 400px;
	max-width: 100%;
	padding: 20px;
	background-color: rgb(132, 132, 134);
}

.inline {
	display: inline-flex;
	position: relative;
	padding: 20px;
}

.inline div {
	padding: 10px;
}

article footer {
	text-align: right;
}
